.pop-up__overlay {
  max-width: 430px;
  width: 100%;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

@media screen and (max-width: 470px) {
  .pop-up__overlay {
    max-width: 280px;
  }
}
