.input {
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid var(--input-border-opacity);
  outline: none;
  font-family: var(--font-family-main);
  font-style: var(--font-style-main);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-weight: var( --font-weight-400);
}
